@font-face {
    font-family: 'Scania Sans CY Regular';
    src: url('ScaniaSansCY-Regular.eot');
    src: url('ScaniaSansCY-Regular.eot?#iefix') format('embedded-opentype'),
        url('ScaniaSansCY-Regular.woff') format('woff'),
        url('ScaniaSansCY-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lab Grotesque Light';
    src: url('LabGrotesque-Light.eot');
    src: url('LabGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('LabGrotesque-Light.woff') format('woff'),
        url('LabGrotesque-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

