:root {
    --color-gray: #949494;
    --color-dark-gray: #6D6D6D;
    --color-accent-yellow: #FFCF7A;
    --color-logo: #FFFFFF;
    --color-title-gray: #757575;
    --color-black: #121212;
    --color-background-black: #121212;
    --color-background-dark: #1E1E1E;
    
}